Source: sci-web
Section: admin
Priority: extra
Maintainer: Vladimir Ipatov <vs@ipatov.net>
Uploaders: Vladimir Ipatov <vs@ipatov.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: https://github.com/vladimir-ipatov/sci-web/
Vcs-Browser: https://github.com/vladimir-ipatov/sci-web.git

Package: sci-web
Architecture: all
Depends: ${misc:Depends}, ganeti (>= 2.10), python3-django, nginx, python3-requests, uwsgi, uwsgi-plugin-python3, javascript-common, libjs-jquery, sci-mond(>= 3.3-0), sci-scripts(>= 3.3-0), python3-magic, python3-django-background-tasks, gettext, pwgen
Description: Skycover Infrastructure web-interface
