Package: sci-setup
Version: 2.4-1
Architecture: all
Maintainer: Vladimir Ipatov <vs@ipatov.net>
Installed-Size: 162
Section: admin
Priority: extra
Homepage: https://github.com/vladimir-ipatov/sci-setup/
Description: Package deploys Skycover Infrastructure node on preinstalled systems
 Install required packages, tuning system, install deployment scripts.
